.Rproj.user
.Rhistory
.RData
.Ruserdata
*.svg
docs/NGPN_network_QC_checks_cache/
docs/NGPN_network_MacroPlot_QC_checks_cache/
*.shp
*.CPG
*.prj
*.dbf
*.sbn
*.sbx
*.shx
*.xml
docs/*.html
*.zip
*.jpg
*.txt
testing_scripts/
data/*.zip
.positai
*.mp4
*.png
